@import url(Fonts/Ubuntu-Bold.ttf);

body {
    font-family: "Ubuntu-Bold", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.slidebar {
    position: fixed;
    left: -250px;
    height: 100%;
    width: 250px;
    background: #042331;
    transition: all 0.5s ease;
}

.slidebar header {
    text-align: center;
    line-height: 70px;
    color: white;
    user-select: none;
    font-size: 22px;
    background: #063146;
}

.slidebar ul a {
    display: block;
    color: white;
    line-height: 65px;
    padding-left: 40px;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: 0.4s;
}

ul li:hover a {
    padding-left: 50px;
}

.slidebar ul a i {
    margin-right: 20px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

#btn {
    top: 25px;
    left: 40px;
    color: #fff;
    font-size: 35px;
    padding: 6px 12px;
    transition: all 0.5s;
}

#cancel {
    z-index: 111;
    top: 17px;
    left: -195px;
    padding: 4px 9px;
    color: #0a5275;
    font-size: 30px;
    transition: all 0.5s ease;
}

#check:checked~.slidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~section {
    margin-left: 250px;
}

section {
    background: url("../img/Lapcode.jpg") no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    transition: all 0.5s;
}